@inject Barayand.DAL.Interfaces.IPublicMethodRepsoitory<Barayand.Models.Entity.SliderModel> _sliderrepo;
@inject Barayand.DAL.Interfaces.IPublicMethodRepsoitory<Barayand.Models.Entity.BrandModel> _brandrepo
@inject Barayand.DAL.Interfaces.IPublicMethodRepsoitory<Barayand.Models.Entity.ServiceModel> _Service;
@inject Barayand.DAL.Interfaces.IPublicMethodRepsoitory<Barayand.Models.Entity.DynamicPagesContent> _dynamicpagerepo;
@inject Barayand.DAL.Interfaces.IPublicMethodRepsoitory<Barayand.Models.Entity.OptionsModel> _Optionslrepo;

@{

    var setting = ((List<Barayand.Models.Entity.OptionsModel>)(await _Optionslrepo.GetAll()).Data);
    var settingspecial = setting.FirstOrDefault(x => x.O_Key == "SPECIALSALESTATE");


    var AllPages = ((List<Barayand.Models.Entity.DynamicPagesContent>)(await _dynamicpagerepo.GetAll()).Data);
    var seoindex = AllPages.FirstOrDefault(x => x.PageName == "IndexSeo");

    HomeKito.Models.SeoIndex IndexSeo = Newtonsoft.Json.JsonConvert.DeserializeObject<HomeKito.Models.SeoIndex>(seoindex.PageOtherSetting);
    var light = AllPages.FirstOrDefault(x => x.PageName == "LightBox");
    var lightbox = Newtonsoft.Json.JsonConvert.DeserializeObject<List<HomeKito.Models.LightBoxVm>>(light.PageOtherSetting);

    var staticBox = (List<Barayand.Models.Entity.PromotionBoxModel>)ViewBag.staticBox;
    var moveableBox = (List<Barayand.Models.Entity.PromotionBoxModel>)ViewBag.moveableBox;
    var specialOffer = (List<Barayand.Models.Entity.PromotionBoxModel>)ViewBag.specialOffer;
    var Service = ((List<Barayand.Models.Entity.ServiceModel>)(await _Service.GetAll()).Data).Where(x => x.S_Status && x.S_Type == 1).ToList();
    List<Barayand.Models.Entity.SliderModel> Sliders = ((List<Barayand.Models.Entity.SliderModel>)(await _sliderrepo.GetAll()).Data).Where(x => x.S_Status).OrderBy(x => x.S_OrderField).ToList();
    var Brands = ((List<Barayand.Models.Entity.BrandModel>)(await _brandrepo.GetAll()).Data).Where(x => x.B_ShowInIndex && x.B_Status).ToList();
    var pageseo = Barayand.Common.Services.UtilesService.ParseSeoData(seoindex.PageSeo);
    Barayand.Models.Entity.PromotionBoxModel sec = null;
}
@section Styles{
    @await Html.PartialAsync("_seo", seoindex.PageSeo)
}
<div class="contentMain">
    <div class="container">
        <section class="secADS">
            <div class="rowCustom BxADS">
                <div class="col1">
                    <div class="SliderOne swiper-container">
                        <div class="swiper-wrapper">
                            @foreach (var item in Sliders)
                            {
                                string img = ((bool)ViewBag.IsMobile) ? item.S_MobileFileLink : item.S_DesktopFileLink;
                                <div class="swiper-slide">
                                    <a href="@item.S_Link" class="itemSliderOne"
                                       style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Slider")@img);"></a>
                                </div>
                            }
                        </div>
                        <!-- Add Arrows -->
                        <div class="NextPrevSlider">
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>
                </div>
                <div class="col2">
                    @{
                        sec = staticBox.FirstOrDefault(x => x.B_SectionId == 1);
                    }
                    @if (sec != null)
                    {
                        var seosec = Barayand.Common.Services.UtilesService.ParseSeoData(sec.B_Seo);

                        if (sec.B_LoadType == 1)
                        {
                            <a href="/Productbox/@sec.B_SectionId/@seosec.url" class="itemBoxADS" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image);"></a>
                        }
                        else
                        {
                            <a href="@sec.B_Link" class="itemBoxADS" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image);"></a>
                        }
                    }

                    @{
                        sec = staticBox.FirstOrDefault(x => x.B_SectionId == 2);
                    }
                    @if (sec != null)
                    {
                        var seosec1 = Barayand.Common.Services.UtilesService.ParseSeoData(sec.B_Seo);

                        if (sec.B_LoadType == 1)
                        {
                            <a href="/Productbox/@sec.B_SectionId/@seosec1.url" class="itemBoxADS" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image);"></a>
                        }
                        else
                        {
                            <a href="@sec.B_Link" class="itemBoxADS" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image);"></a>
                        }
                    }
                </div>
            </div>
            <div class="rowCustom BoxesADS">
                @{
                    sec = staticBox.FirstOrDefault(x => x.B_SectionId == 3);
                }
                @if (sec != null)
                {
                    var seosec2 = Barayand.Common.Services.UtilesService.ParseSeoData(sec.B_Seo);

                    if (sec.B_LoadType == 1)
                    {
                        <a href="/Productbox/@sec.B_SectionId/@seosec2.url" class="itemBoxADS" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image);"></a>
                    }
                    else
                    {
                        <a href="@sec.B_Link" class="itemBoxADS" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image);"></a>
                    }
                }
                @{
                    sec = staticBox.FirstOrDefault(x => x.B_SectionId == 4);
                }
                @if (sec != null)
                {
                    var seosec3 = Barayand.Common.Services.UtilesService.ParseSeoData(sec.B_Seo);

                    if (sec.B_LoadType == 1)
                    {
                        <a href="/Productbox/@sec.B_SectionId/@seosec3.url" class="itemBoxADS" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image);"></a>
                    }
                    else
                    {
                        <a href="@sec.B_Link" class="itemBoxADS" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image);"></a>
                    }
                }
                @{
                    sec = staticBox.FirstOrDefault(x => x.B_SectionId == 5);
                }
                @if (sec != null)
                {
                    var seosec4 = Barayand.Common.Services.UtilesService.ParseSeoData(sec.B_Seo);

                    if (sec.B_LoadType == 1)
                    {
                        <a href="/Productbox/@sec.B_SectionId/@seosec4.url" class="itemBoxADS" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image);"></a>
                    }
                    else
                    {
                        <a href="@sec.B_Link" class="itemBoxADS" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image);"></a>
                    }
                }
            </div>
        </section>
        @if (bool.Parse(settingspecial.O_Value))
        {
            foreach (var item in specialOffer)
            {

                var specialOfferseo = Barayand.Common.Services.UtilesService.ParseSeoData(item.B_Seo);
                <section class="secSurprisingly" style="background-color:@item.B_ColorCode;">
                    <div class="col1">
                        <div class="textSurprise">
                            <img src="@Barayand.Common.Services.UtilesService.MediaUrls("Root")@item.B_Image" />
                            <div class="discountTitleSurprise">
                                تــا <span>43%</span> تخفیف
                            </div>
                            <a href="/Productbox/@item.B_SectionId/@specialOfferseo.url" class="moreSurprise">مشاهده</a>
                        </div>
                    </div>
                    <div class="col2">
                        <div class="SliderSurprising arrowCustom swiper-container">
                            <div class="swiper-wrapper">
                                @foreach (var product in item.Products)
                                {
                                    var seo = Barayand.Common.Services.UtilesService.ParseSeoData(product.P_Seo);

                                    <div class="swiper-slide">
                                        <div class="itemSurpriseBox">
                                            <a href="/Product/@product.P_Id/@product.P_Code/@seo.url" class="hoverLink"></a>
                                            <div class="pic" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("ProductMainImage")@product.P_Image);">
                                                <img src="@Barayand.Common.Services.UtilesService.MediaUrls("ProductMainImage")@product.P_Image"
                                                     alt="@product.P_Title">
                                            </div>
                                            <h2 class="title">@product.P_Title</h2>
                                            <div class="priceRealAndPrecent">
                                                <span class="precent">@product.DefaultProductCombine.PriceModel.Discount.ToString("#,#")%</span>
                                                <label class="valPrice">@product.DefaultProductCombine.PriceModel.Price.ToString("#,#")</label>
                                            </div>
                                            <div class="priceRealAndPrecent Descount">
                                                <label class="valPrice">@product.DefaultProductCombine.PriceModel.DiscountedPrice.ToString("#,#")</label>
                                                <span class="unit">تومان</span>
                                            </div>
                                            <div class="Timer far fa-clock"  data="@product.DefaultProductCombine.PriceModel.Timer"></div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <!-- Add Arrows -->
                            <div class="NextPrevSlider">
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>
                        </div>
                    </div>


                </section>
            }
        }
        <section class="secPromotions">
            <div class="rowCustom promotion">
                <div class="col">
                    @{
                        var secmove1 = moveableBox.FirstOrDefault(x => x.B_SectionId == 17);

                    }
                    @if (secmove1 != null)
                    {
                        var seosec5 = Barayand.Common.Services.UtilesService.ParseSeoData(secmove1.B_Seo);
                        <div class="card">
                            <h3 class="titleCard">
                                <label>@secmove1.B_Title</label>
                                <a href="/Productbox/@secmove1.B_SectionId/@seosec5.url" class="moreSee">مشاهده بیشتر</a>
                            </h3>
                            <div class="contentCard">
                                <div class="SlidPromotion3  arrowCustom swiper-container">
                                    <div class="swiper-wrapper">
                                        @foreach (var item in secmove1.Products.Take(10))
                                        {
                                            var seo = Barayand.Common.Services.UtilesService.ParseSeoData(item.P_Seo);

                                            <div class="swiper-slide">
                                                <div class="itempromotionbox">
                                                    <a href="/Product/@item.P_Id/@item.P_Code/@seo.url" class="hoverlink"></a>
                                                    <div class="pic" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("ProductMainImage")@item.P_Image);">
                                                        <img src="@Barayand.Common.Services.UtilesService.MediaUrls("ProductMainImage")@item.P_Image"
                                                             alt="@item.P_Title">
                                                    </div>
                                                    <h2 class="title">@item.P_Title</h2>
                                                    @if (item.IsAvailable)
                                                    {
                                                        <div class="pricepromo">@item.DefaultProductCombine.CalculatedPrice().ToString("#,#")<span>تومان</span></div>
                                                    }
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <!-- Add Arrows -->
                                    <div class="NextPrevSlider">
                                        <div class="swiper-button-next"></div>
                                        <div class="swiper-button-prev"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
                <div class="col">
                    @{
                        var secmove2 = moveableBox.FirstOrDefault(x => x.B_SectionId == 18);

                    }
                    @if (secmove2 != null)
                    {
                        var seosec6 = Barayand.Common.Services.UtilesService.ParseSeoData(secmove2.B_Seo);
                        <div class="card">
                            <h3 class="titleCard">
                                <label>@secmove2.B_Title</label>
                                <a href="/Productbox/@secmove2.B_SectionId/@seosec6.url" class="moreSee">مشاهده بیشتر</a>
                            </h3>
                            <div class="contentCard">
                                <div class="SlidPromotion3  arrowCustom swiper-container">
                                    <div class="swiper-wrapper">
                                        @foreach (var item in secmove2.Products.Take(10))
                                        {
                                            var seo = Barayand.Common.Services.UtilesService.ParseSeoData(item.P_Seo);

                                            <div class="swiper-slide">
                                                <div class="itemPromotionBox">
                                                    <a href="/Product/@item.P_Id/@item.P_Code/@seo.url" class="hoverLink"></a>
                                                    <div class="pic" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("ProductMainImage")@item.P_Image);">
                                                        <img src="@Barayand.Common.Services.UtilesService.MediaUrls("ProductMainImage")@item.P_Image"
                                                             alt="@item.P_Title">
                                                    </div>
                                                    <h2 class="title">@item.P_Title</h2>
                                                    @if (item.IsAvailable)
                                                    {
                                                        <div class="pricePromo">@item.DefaultProductCombine.CalculatedPrice().ToString("#,#")<span>تومان</span></div>
                                                    }
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <!-- Add Arrows -->
                                    <div class="NextPrevSlider">
                                        <div class="swiper-button-next"></div>
                                        <div class="swiper-button-prev"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </section>
        <section class="secAllDayDiscounts">
            <div class="rowCustom AllDayDiscount">
                <div class="col">
                    @{
                        var secmove3 = moveableBox.FirstOrDefault(x => x.B_SectionId == 19);
                    }
                    @if (secmove3 != null)
                    {
                        var seosec7 = Barayand.Common.Services.UtilesService.ParseSeoData(secmove3.B_Seo);
                        <div class="card">
                            <h3 class="titleCard">
                                <label>@secmove3.B_Title</label>
                                <a href="/Productbox/@secmove3.B_SectionId/@seosec7.url" class="moreSee">مشاهده بیشتر</a>
                            </h3>
                            <div class="contentCard">
                                <div class="SliderAllDayDiscount  arrowCustom swiper-container">
                                    <div class="swiper-wrapper">
                                        @foreach (var item in secmove3.Products.Take(10))
                                        {
                                            var seo = Barayand.Common.Services.UtilesService.ParseSeoData(item.P_Seo);

                                            <div class="swiper-slide">
                                                <div class="itemADDiscount">
                                                    <a href="/Product/@item.P_Id/@item.P_Code/@seo.url" class="hoverLink"></a>
                                                    <div class="pic" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("ProductMainImage")@item.P_Image);">
                                                        <img src="@Barayand.Common.Services.UtilesService.MediaUrls("ProductMainImage")@item.P_Image"
                                                             alt="@item.P_Title">
                                                    </div>
                                                    <h2 class="title">@item.P_Title</h2>
                                                    @if (item.IsAvailable)
                                                    {
                                                        <div class="pricePromo">@item.DefaultProductCombine.CalculatedPrice().ToString("#,#")<span>تومان</span></div>
                                                    }
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <!-- Add Arrows -->
                                    <div class="NextPrevSlider">
                                        <div class="swiper-button-next"></div>
                                        <div class="swiper-button-prev"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }

                </div>
                <div class="col">
                    @{
                        var secmove4 = moveableBox.FirstOrDefault(x => x.B_SectionId == 20);

                    }
                    @if (secmove4 != null)
                    {
                        var seosec8 = Barayand.Common.Services.UtilesService.ParseSeoData(secmove4.B_Seo);
                        <div class="card">
                            <h3 class="titleCard">
                                <label>@secmove4.B_Title</label>
                                <a href="/Productbox/@secmove4.B_SectionId/@seosec8.url" class="moreSee">مشاهده بیشتر</a>
                            </h3>
                            <div class="contentCard">
                                <div id="progressslider"></div>
                                <div class="SliderOneProgress swiper-container">
                                    <div class="swiper-wrapper">
                                        @foreach (var item in secmove4.Products.Take(10))
                                        {
                                            var seo = Barayand.Common.Services.UtilesService.ParseSeoData(item.P_Seo);

                                            <div class="swiper-slide">
                                                <div class="todayRecomended">
                                                    <a href="/Product/@item.P_Id/@item.P_Code/@seo.url" class="hoverLink"></a>
                                                    <div class="pic" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("ProductMainImage")@item.P_Image);">
                                                        <img src="@Barayand.Common.Services.UtilesService.MediaUrls("ProductMainImage")@item.P_Image"
                                                             alt="@item.P_Title">
                                                    </div>
                                                    <h2 class="title">@item.P_Title</h2>
                                                    @if (item.IsAvailable)
                                                    {
                                                        <div class="pricePromo">@item.DefaultProductCombine.CalculatedPrice().ToString("#,#")<span>تومان</span></div>
                                                    }
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </section>

        <section class="secFestivals">

            <div class="rowCustom festivalRow">
                <div class="col">
                    @{
                        sec = staticBox.FirstOrDefault(x => x.B_SectionId == 6);

                    }
                    @if (sec != null)
                    {
                        var seosec9 = Barayand.Common.Services.UtilesService.ParseSeoData(sec.B_Seo);

                        if (sec.B_LoadType == 1)
                        {
                            <a href="/Productbox/@sec.B_SectionId/@seosec9.url" class="itemFestival" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image);">
                                <img src="@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image" alt="@sec.B_Title">
                            </a>
                        }
                        else
                        {
                            <a href="@sec.B_Link" class="itemFestival" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image);">
                                <img src="@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image" alt="@sec.B_Title">
                            </a>
                        }
                    }

                </div>
                <div class="col">
                    @{
                        sec = staticBox.FirstOrDefault(x => x.B_SectionId == 7);
                    }
                    @if (sec != null)
                    {
                        var seosec10 = Barayand.Common.Services.UtilesService.ParseSeoData(sec.B_Seo);

                        if (sec.B_LoadType == 1)
                        {
                            <a href="/Productbox/@sec.B_SectionId/@seosec10.url" class="itemFestival" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image);">
                                <img src="@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image" alt="@sec.B_Title">
                            </a>
                        }
                        else
                        {
                            <a href="@sec.B_Link" class="itemFestival" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image);">
                                <img src="@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image" alt="@sec.B_Title">
                            </a>
                        }
                    }
                </div>
            </div>
        </section>
        <section class="secPromotion2">
            <div class="rowCustom Promotion2">
                <div class="col">
                    @{
                        var secmove5 = moveableBox.FirstOrDefault(x => x.B_SectionId == 21);

                    }
                    @if (secmove5 != null)
                    {
                        var seosec11 = Barayand.Common.Services.UtilesService.ParseSeoData(secmove5.B_Seo);
                        <div class="card">
                            <h3 class="titleCard">
                                <label>@secmove5.B_Title</label>
                                <a href="/Productbox/@secmove5.B_SectionId/@seosec11.url" class="moreSee">مشاهده بیشتر</a>
                            </h3>
                            <div class="contentCard">

                                <div class="SlidPromotion6 arrowCustom swiper-container">
                                    <div class="swiper-wrapper">
                                        @foreach (var item in secmove5.Products.Take(10))
                                        {
                                            var seo = Barayand.Common.Services.UtilesService.ParseSeoData(item.P_Seo);

                                            <div class="swiper-slide">
                                                <div class="todayRecomended">
                                                    <a href="/Product/@item.P_Id/@item.P_Code/@seo.url" class="hoverLink"></a>
                                                    <div class="pic" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("ProductMainImage")@item.P_Image);">
                                                        <img src="@Barayand.Common.Services.UtilesService.MediaUrls("ProductMainImage")@item.P_Image"
                                                             alt="@item.P_Title">
                                                    </div>
                                                    <h2 class="title">@item.P_Title</h2>
                                                    @if (item.IsAvailable)
                                                    {
                                                        <div class="pricePromo">@item.DefaultProductCombine.CalculatedPrice().ToString("#,#")<span>تومان</span></div>
                                                    }
                                                </div>
                                            </div>
                                        }

                                    </div>
                                    <!-- Add Arrows -->
                                    <div class="NextPrevSlider">
                                        <div class="swiper-button-next"></div>
                                        <div class="swiper-button-prev"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }




                </div>
            </div>
        </section>

        <section class="secBoxSpecial">
            <div class="rowCustom BoxSpecial hor">
                <div class="col">

                    @{
                        sec = staticBox.FirstOrDefault(x => x.B_SectionId == 8);

                    }
                    @if (sec != null)
                    {
                        var seosec12 = Barayand.Common.Services.UtilesService.ParseSeoData(sec.B_Seo);

                        if (sec.B_LoadType == 1)
                        {
                            <a href="/Productbox/@sec.B_SectionId/@seosec12.url" class="itemBoxSpecial" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image);">
                                <img src="@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image" alt="@sec.B_Title">
                            </a>
                        }
                        else
                        {
                            <a href="@sec.B_Link" class="itemBoxSpecial" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image);">
                                <img src="@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image" alt="@sec.B_Title">
                            </a>
                        }
                    }



                </div>
                <div class="col">
                    @{
                        sec = staticBox.FirstOrDefault(x => x.B_SectionId == 9);

                    }
                    @if (sec != null)
                    {
                        var seosec13 = Barayand.Common.Services.UtilesService.ParseSeoData(sec.B_Seo);

                        if (sec.B_LoadType == 1)
                        {
                            <a href="/Productbox/@sec.B_SectionId/@seosec13.url" class="itemBoxSpecial" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image);">
                                <img src="@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image" alt="@sec.B_Title">
                            </a>
                        }
                        else
                        {
                            <a href="@sec.B_Link" class="itemBoxSpecial" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image);">
                                <img src="@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image" alt="@sec.B_Title">
                            </a>
                        }
                    }

                </div>
            </div>
            <div class="rowCustom BoxSpecial squar">
                <div class="col">

                    @{
                        sec = staticBox.FirstOrDefault(x => x.B_SectionId == 10);

                    }
                    @if (sec != null)
                    {
                        var seosec14 = Barayand.Common.Services.UtilesService.ParseSeoData(sec.B_Seo);

                        if (sec.B_LoadType == 1)
                        {
                            <a href="/Productbox/@sec.B_SectionId/@seosec14.url" class="itemBoxSpecial" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image);">
                                <img src="@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image" alt="@sec.B_Title">
                            </a>
                        }
                        else
                        {
                            <a href="@sec.B_Link" class="itemBoxSpecial" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image);">
                                <img src="@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image" alt="@sec.B_Title">
                            </a>
                        }
                    }
                </div>
                <div class="col">

                    @{
                        sec = staticBox.FirstOrDefault(x => x.B_SectionId == 11);

                    }
                    @if (sec != null)
                    {
                        var seosec15 = Barayand.Common.Services.UtilesService.ParseSeoData(sec.B_Seo);

                        if (sec.B_LoadType == 1)
                        {
                            <a href="/Productbox/@sec.B_SectionId/@seosec15.url" class="itemBoxSpecial" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image);">
                                <img src="@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image" alt="@sec.B_Title">
                            </a>
                        }
                        else
                        {
                            <a href="@sec.B_Link" class="itemBoxSpecial" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image);">
                                <img src="@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image" alt="@sec.B_Title">
                            </a>
                        }
                    }
                </div>
                <div class="col">

                    @{
                        sec = staticBox.FirstOrDefault(x => x.B_SectionId == 12);

                    }
                    @if (sec != null)
                    {
                        var seosec16 = Barayand.Common.Services.UtilesService.ParseSeoData(sec.B_Seo);

                        if (sec.B_LoadType == 1)
                        {
                            <a href="/Productbox/@sec.B_SectionId/@seosec16.url" class="itemBoxSpecial" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image);">
                                <img src="@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image" alt="@sec.B_Title">
                            </a>
                        }
                        else
                        {
                            <a href="@sec.B_Link" class="itemBoxSpecial" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image);">
                                <img src="@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image" alt="@sec.B_Title">
                            </a>
                        }
                    }
                </div>
                <div class="col">

                    @{
                        sec = staticBox.FirstOrDefault(x => x.B_SectionId == 13);

                    }
                    @if (sec != null)
                    {
                        var seosec17 = Barayand.Common.Services.UtilesService.ParseSeoData(sec.B_Seo);

                        if (sec.B_LoadType == 1)
                        {
                            <a href="/Productbox/@sec.B_SectionId/@seosec17.url" class="itemBoxSpecial" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image);">
                                <img src="@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image" alt="@sec.B_Title">
                            </a>
                        }
                        else
                        {
                            <a href="@sec.B_Link" class="itemBoxSpecial" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image);">
                                <img src="@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image" alt="@sec.B_Title">
                            </a>
                        }
                    }
                </div>
            </div>
        </section>
        <section class="secMostSale">
            <div class="rowCustom Promotion2">
                <div class="col">
                    @{
                        var secmove6 = moveableBox.FirstOrDefault(x => x.B_SectionId == 22);

                    }
                    @if (secmove6 != null)
                    {
                        var seosec18 = Barayand.Common.Services.UtilesService.ParseSeoData(secmove6.B_Seo);
                        <div class="card">
                            <h3 class="titleCard">
                                <label>@secmove6.B_Title</label>
                                <a href="/Productbox/@secmove6.B_SectionId/@seosec18.url" class="moreSee">مشاهده بیشتر</a>
                            </h3>
                            <div class="contentCard">

                                <div class="SlidPromotion6 arrowCustom swiper-container">
                                    <div class="swiper-wrapper">
                                        @foreach (var item in secmove6.Products.Take(10))
                                        {
                                            var seo = Barayand.Common.Services.UtilesService.ParseSeoData(item.P_Seo);

                                            <div class="swiper-slide">
                                                <div class="todayRecomended">
                                                    <a href="/Product/@item.P_Id/@item.P_Code/@seo.url" class="hoverLink"></a>
                                                    <div class="pic" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("ProductMainImage")@item.P_Image);">
                                                        <img src="@Barayand.Common.Services.UtilesService.MediaUrls("ProductMainImage")@item.P_Image"
                                                             alt="@item.P_Title">
                                                    </div>
                                                    <h2 class="title">@item.P_Title</h2>
                                                    @if (item.IsAvailable)
                                                    {
                                                        <div class="pricePromo">@item.DefaultProductCombine.CalculatedPrice().ToString("#,#")<span>تومان</span></div>
                                                    }
                                                </div>
                                            </div>
                                        }

                                    </div>
                                    <!-- Add Arrows -->
                                    <div class="NextPrevSlider">
                                        <div class="swiper-button-next"></div>
                                        <div class="swiper-button-prev"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>

        <section class="secMostVisit">
            <div class="rowCustom Promotion2">
                <div class="col">
                    @{
                        var secmove7 = moveableBox.FirstOrDefault(x => x.B_SectionId == 23);

                    }
                    @if (secmove7 != null)
                    {
                        var seosec19 = Barayand.Common.Services.UtilesService.ParseSeoData(secmove7.B_Seo);
                        <div class="card">
                            <h3 class="titleCard">
                                <label>@secmove7.B_Title</label>
                                <a href="/Productbox/@secmove7.B_SectionId/@seosec19.url" class="moreSee">مشاهده بیشتر</a>
                            </h3>
                            <div class="contentCard">

                                <div class="SlidPromotion6 arrowCustom swiper-container">
                                    <div class="swiper-wrapper">
                                        @foreach (var item in secmove7.Products.Take(10))
                                        {
                                            var seo = Barayand.Common.Services.UtilesService.ParseSeoData(item.P_Seo);

                                            <div class="swiper-slide">
                                                <div class="todayRecomended">
                                                    <a href="/Product/@item.P_Id/@item.P_Code/@seo.url" class="hoverLink"></a>
                                                    <div class="pic" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("ProductMainImage")@item.P_Image);">
                                                        <img src="@Barayand.Common.Services.UtilesService.MediaUrls("ProductMainImage")@item.P_Image"
                                                             alt="@item.P_Title">
                                                    </div>
                                                    <h2 class="title">@item.P_Title</h2>
                                                    @if (item.IsAvailable)
                                                    {
                                                        <div class="pricePromo">@item.DefaultProductCombine.CalculatedPrice().ToString("#,#")<span>تومان</span></div>
                                                    }
                                                </div>
                                            </div>
                                        }

                                    </div>
                                    <!-- Add Arrows -->
                                    <div class="NextPrevSlider">
                                        <div class="swiper-button-next"></div>
                                        <div class="swiper-button-prev"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }




                </div>
            </div>
        </section>
        <section class="secCheapStore">
            @{
                sec = staticBox.FirstOrDefault(x => x.B_SectionId == 14);

            }
            @if (sec != null)
            {
                var seosec20 = Barayand.Common.Services.UtilesService.ParseSeoData(sec.B_Seo);

                if (sec.B_LoadType == 1)
                {
                    <a href="/Productbox/@sec.B_SectionId/@seosec20.url" class="itemCheapStoreADS" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image);">
                        <img src="@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image" alt="@sec.B_Title">
                    </a>
                }
                else
                {
                    <a href="@sec.B_Link" class="itemCheapStoreADS" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image);">
                        <img src="@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image" alt="@sec.B_Title">
                    </a>
                }
            }
        </section>

        <section class="secDiscountOnSale">
            <div class="rowCustom Promotion2">
                <div class="col">
                    @{
                        var secmove8 = moveableBox.FirstOrDefault(x => x.B_SectionId == 24);
                    }
                    @if (secmove8 != null)
                    {
                        var seosec21 = Barayand.Common.Services.UtilesService.ParseSeoData(secmove8.B_Seo);
                        <div class="card">
                            <h3 class="titleCard">
                                <label>@secmove8.B_Title</label>
                                <a href="/Productbox/@secmove8.B_SectionId/@seosec21.url" class="moreSee">مشاهده بیشتر</a>
                            </h3>
                            <div class="contentCard">

                                <div class="SlidPromotion6 arrowCustom swiper-container">
                                    <div class="swiper-wrapper">
                                        @foreach (var item in secmove8.Products.Take(10))
                                        {
                                            var seo = Barayand.Common.Services.UtilesService.ParseSeoData(item.P_Seo);
                                            <div class="swiper-slide">
                                                <div class="todayRecomended">
                                                    <a href="/Product/@item.P_Id/@item.P_Code/@seo.url" class="hoverLink"></a>
                                                    <div class="pic" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("ProductMainImage")@item.P_Image);">
                                                        <img src="@Barayand.Common.Services.UtilesService.MediaUrls("ProductMainImage")@item.P_Image"
                                                             alt="@item.P_Title">
                                                    </div>
                                                    <h2 class="title">@item.P_Title</h2>
                                                    @if (item.IsAvailable)
                                                    {
                                                        <div class="pricePromo">@item.DefaultProductCombine.PriceModel.DiscountedPrice.ToString("#,#")<span>تومان</span></div>
                                                    }
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <!-- Add Arrows -->
                                    <div class="NextPrevSlider">
                                        <div class="swiper-button-next"></div>
                                        <div class="swiper-button-prev"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }

                </div>
            </div>
        </section>
        <section class="secBoxSpecial">
            <div class="rowCustom BoxSpecial hor">
                <div class="col">
                    @{
                        sec = staticBox.FirstOrDefault(x => x.B_SectionId == 15);

                    }
                    @if (sec != null)
                    {
                        var seosec22 = Barayand.Common.Services.UtilesService.ParseSeoData(sec.B_Seo);

                        if (sec.B_LoadType == 1)
                        {
                            <a href="/Productbox/@sec.B_SectionId/@seosec22.url" class="itemBoxSpecial" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image);">
                                <img src="@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image" alt="@sec.B_Title">
                            </a>
                        }
                        else
                        {
                            <a href="@sec.B_Link" class="itemBoxSpecial" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image);">
                                <img src="@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image" alt="@sec.B_Title">
                            </a>
                        }
                    }
                </div>
                <div class="col">
                    @{
                        sec = staticBox.FirstOrDefault(x => x.B_SectionId == 16);

                    }
                    @if (sec != null)
                    {
                        var seosec23 = Barayand.Common.Services.UtilesService.ParseSeoData(sec.B_Seo);

                        if (sec.B_LoadType == 1)
                        {
                            <a href="/Productbox/@sec.B_SectionId/@seosec23.url" class="itemBoxSpecial" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image);">
                                <img src="@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image" alt="@sec.B_Title">
                            </a>
                        }
                        else
                        {
                            <a href="@sec.B_Link" class="itemBoxSpecial" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image);">
                                <img src="@Barayand.Common.Services.UtilesService.MediaUrls("Root")@sec.B_Image" alt="@sec.B_Title">
                            </a>
                        }
                    }

                </div>
            </div>
        </section>
        <section class="secAllServices">
            <div class="rowCustom AllServices">
                <div class="col">
                    <div class="card">
                        <h3 class="titleCard center">
                            <label>چه خدماتی ارائه میدهیم</label>
                        </h3>
                        <div class="contentCard">
                            <div class="rowCustom rowServices">
                                <div class="col">
                                    @foreach (var servic in Service)
                                    {
                                        var serviceseo = Barayand.Common.Services.UtilesService.ParseSeoData(servic.S_Seo);
                                        <a href="/Service/@servic.S_Id/@serviceseo.url" class="itemService">
                                            <i class="icon" style="background-image:url(@Barayand.Common.Services.UtilesService.MediaUrls("Content")@servic.S_Icon);"></i>
                                            <h4 class="title">@servic.S_Title</h4>
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="newsLetterBox" style="background-image:url(@Barayand.Common.Services.UtilesService.MediaUrls("Content")@IndexSeo.Newsletter.bgimage)">
            <div class="ContentNewsLetter" data-icon="@Barayand.Common.Services.UtilesService.MediaUrls("Content")@IndexSeo.Newsletter.compeletimage">
                <h3 class="titleNewsletter">
                    @IndexSeo.Newsletter.title
                </h3>
                <div class="FormNewsletter">
                    <form id="frmNewsletter">
                        <input type="email" id="nlEmail" name="nletter" placeholder="تخفیف را در ایمیل خود دریافت کنید" required />
                        <div class="input-error"></div>
                        <button style="background-color:@IndexSeo.Newsletter.btncolor;" type="button" onclick="RegisterNewsLetter();" class="btnNewsLetter">عضویت</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="card">
            <h3 class="titleCard">
                <label>برند</label>
                <a href="/Brands" target="_blank" class="moreSee">مشاهده بیشتر</a>
            </h3>
            <div class="contentCard brandContent1">
                <div class="brands">
                    <div class="SlidPromotion6 arrowCustom swiper-container">
                        <div class="swiper-wrapper">
                            @foreach (var item in Brands)
                            {
                                var seobrand = Barayand.Common.Services.UtilesService.ParseSeoData(item.B_Seo);
                                    <div class="swiper-slide">
                                        <a href="/Brand/@item.B_Id/@seobrand.url" class="itemBrand" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("BrandImage")@item.B_Logo);">
                                            <img src="@Barayand.Common.Services.UtilesService.MediaUrls("BrandImage")@item.B_Logo" alt="">
                                        </a>
                                    </div>
                                }
                                </div>
                                <!-- Add Arrows -->
                                <div class="NextPrevSlider">
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                </div>
                            </div>
                    
                </div>
               
            </div>
        </div>
    </div>
</div>
@foreach (var item in lightbox)
{
    if (item.status)
    {
        <div class="lightBoxADS" data-img="@Barayand.Common.Services.UtilesService.MediaUrls("Index")@item.image" data-link="@item.link"></div>
    }
}
