@model List<Barayand.Models.Entity.ProductModel>
@inject Barayand.DAL.Interfaces.IPCRepository _categories;
@{ Layout = null;
    var pagination = (Paging)ViewBag.paging;
    var GetCatAll = (List<Barayand.Models.Entity.ProductCategoryModel>)(await _categories.GetAll()).Data; }

<div class="contenShowProduct">
    @foreach (var item in Model)
    {
        var cat1 = GetCatAll.FirstOrDefault(x => x.PC_Id == item.P_MainCatId);

        if (cat1 == null)
        {
            continue;
        }
        var seo = Barayand.Common.Services.UtilesService.ParseSeoData(cat1.PC_Seo);
        var cat2 = GetCatAll.FirstOrDefault(x => x.PC_Id == item.P_EndLevelCatId);
        var seo2 = Barayand.Common.Services.UtilesService.ParseSeoData(item.P_Seo);

        //var prodLabels = AllLabelRels.Where(x => x.X_Pid == item.P_Id).ToList();
        <div class="itemProductBox">
            <a target="_blank" href="/Product/@item.P_Id/@item.P_Code/@seo2.url" class="hoverLink"></a>
            <div class="labelsProd">
                @*@foreach (var lbl in prodLabels)
                    {
                        var label = AllLabels.FirstOrDefault(x => x.L_Id == lbl.X_LabelId);
                        if (label != null)
                        {
                            <label class="bdg" style="background-color:@label.L_HexCode">@label.L_Title</label>
                        }
                    }*@
            </div>
            <div class="lineTopProd">
                <div class="mystars">
                    <i class="progressStar" style="width: @((item.ManualRate * 20)+"%")"></i>
                </div>
                @if (item.DefaultProductCombine != null && item.DefaultProductCombine.PriceModel != null && item.DefaultProductCombine.PriceModel.Price > 0 && item.DefaultProductCombine.PriceModel.Avl > 0 && item.DefaultProductCombine.PriceModel.HasDiscount)
                {
                    <div class="discountProd">
                        <label>تخفیف</label>
                        <span>@item.DefaultProductCombine.PriceModel.Discount.ToString("#,#") %</span>
                    </div>}
            </div>
            <div class="pic" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("ProductMainImage")@item.P_Image);">
                <img src="@Barayand.Common.Services.UtilesService.MediaUrls("ProductMainImage")@item.P_Image" alt="@item.P_Title">
                <div class="colorProd">
                    @if (item.Colors.Count > 0)
                    {
                        foreach (var color in item.Colors)
                        {
                            <i class="itemColor" style="background-color: @color.ColorCode;"></i>}
                    }
                </div>
            </div>
            <div class="rowCompare">
                <div class="checkboxs">
                    <input type="checkbox" value="@item.P_Id" id="compare@(item.P_Id)" name="compare" onchange="addTocompare(@item.P_Id,this,true)">
                    <label for="compare@(item.P_Id)" class="lblinput">
                        <span>مقایسه</span>
                    </label>
                </div>
            </div>
            <h3 class="titleProd">
                @item.P_Title
            </h3>
            <div class="rowPriceProduct">
                @if (@*isActiveopt*@true)
{
 if (item.DefaultProductCombine != null)
 {
     if (item.DefaultProductCombine.PriceModel != null && item.DefaultProductCombine.PriceModel.Price > 0 && item.DefaultProductCombine.PriceModel.Avl > 0)
     {

         if (item.DefaultProductCombine.PriceModel.HasDiscount)
         {
            <div class="priceRealAndPrecent real">
                <label class="valPrice">@item.DefaultProductCombine.PriceModel.Price.ToString("#,#")</label>
                <span class="unit">تومان</span>
            </div>

            <div class="priceRealAndPrecent Descount">
                <label class="valPrice">@item.DefaultProductCombine.PriceModel.DiscountedPrice.ToString("#,#")</label>
                <span class="unit">تومان</span>
            </div>
        }
        else
        {
            <div class="priceRealAndPrecent Descount forceBlack">
                <label class="valPrice">@item.DefaultProductCombine.PriceModel.Price.ToString("#,#")</label>
                <span class="unit">تومان</span>
            </div>
        }

    }
    else
    {
        <div class="notAvilable">
            <label>ناموجود</label>
        </div>
    }
}
else
{
    <div class="notAvilable">
        <label>ناموجود</label>
    </div>
}
}
else
{
<div class="priceRealAndPrecent Descount">
    <label class="valPrice">لطفا تماس بگیرید</label>

</div>
}
            </div>
        </div>
    }
</div>

<div class="pagination">
    @if (pagination.CurrentPage > 1)
    {
        <a href="javascrip:void(0)" onclick="PaginationProductbrand(@pagination.CurrentPage-1)" class=" prevPage fal fa-angle-double-right"></a>}
    @for (int i = 1; i <= pagination.TotalPages; i++)
    {
        if (pagination.CurrentPage == i)
        {
            <span onclick="PaginationProductbrand(@i)" class="pageLink">@i</span> }
        else
        {
            <a href="javascrip:void(0)" onclick="PaginationProductbrand(@i)" class="pageLink">@i</a>}
    }
    @if (pagination.CurrentPage < pagination.TotalPages)
    {
        <a href="javascrip:void(0)" onclick="PaginationProductbrand(@pagination.CurrentPage+1)" class=" nextPage fal fa-angle-double-left"></a>}
</div>