@model IEnumerable<Barayand.Models.Entity.NoticesModel>
@inject Barayand.DAL.Interfaces.IPromotionRepository _promotionrepo
@inject Barayand.DAL.Interfaces.IPublicMethodRepsoitory<Barayand.Models.Entity.EnergyUsageModel> _footerlogo
@inject Barayand.DAL.Interfaces.IPublicMethodRepsoitory<Barayand.Models.Entity.DynamicPagesContent> _dynamicpagerepo;

@{
    Layout = null;
    var AllCategory = (List<Barayand.Models.Entity.NoticesCategoryModel>)ViewBag.Category;
    var StaticBoxes = (await _promotionrepo.GetByType(7)).Where(x => x.B_EntityId == ViewBag.catid);
    var AllPages = ((List<Barayand.Models.Entity.DynamicPagesContent>)(await _dynamicpagerepo.GetAll()).Data);
    var ContactUs = AllPages.FirstOrDefault(x => x.PageName == "ContactUs");
    var footlogo = ((List<Barayand.Models.Entity.EnergyUsageModel>)(await _footerlogo.GetAll()).Data).Where(x => x.E_Status && x.E_Type == 3).ToList();
    Barayand.OutModels.Miscellaneous.ContactUsData Data = Newtonsoft.Json.JsonConvert.DeserializeObject<Barayand.OutModels.Miscellaneous.ContactUsData>(ContactUs.PageOtherSetting);

}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Kito</title>
    <link rel="stylesheet" href="/dist/css/styleNews.css">
    <link rel="stylesheet" href="/dist/css/responsiveNews.css">
</head>

<body class="news">
    <nav class="navbar">
        <div class="container">
            <a href="#" class="logoRight"></a>
            <div class="MenuTop">
                <div class="Menu">
                    @foreach (var item in AllCategory.Take(AllCategory.Count / 2))
                    {
                        <a href="/Blog/Cat/@item.NC_Id/@item.NC_SeoUrl" class="itemMenu">@item.NC_Title</a>
                    }
                </div>
                <a href="/" class="logoCenter"></a>
                <div class="Menu">
                    @foreach (var item in AllCategory.Skip(AllCategory.Count / 2))
                    {
                        <a href="/Blog/Cat/@item.NC_Id/@item.NC_SeoUrl" class="itemMenu">@item.NC_Title</a>
                    }
                </div>
            </div>
            <a href="#" class="Announcements">اطلاعیه ها</a>
            <span class="showSidebar fas fa-bars"></span>
        </div>
    </nav>
    <div class="contentMain">
        <div class="NewstNews subgroup">
            <div class="container">
                <h3 class="titleCard">
                    <label>جدیدترین مطالب</label>
                </h3>
                <div class="slider5 arrowCustom swiper-container">
                    <div class="swiper-wrapper">
                        @if (Model != null && Model.Any())
                        {
                            foreach (var item in Model.Take(15))
                            {
                                <div class="swiper-slide">
                                    <div class="itemNewest">
                                        <a href="/Blog/Detail/@item.N_Id/@item.N_Title" class="hoverLink"></a>
                                        <div class="pic" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Notice")@item.N_Image);">
                                            <img src="@Barayand.Common.Services.UtilesService.MediaUrls("Notice")@item.N_Image"
                                                 alt="@item.N_Title">
                                        </div>
                                        <div class="text">
                                            @item.N_Title
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <!-- Add Arrows -->
                    <div class="NextPrevSlider">
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
        <section class="adsBox">
            <div class="container">
                @{
                    var statbox = StaticBoxes.FirstOrDefault(x => x.B_SectionId == 36);
                    var statbox2 = StaticBoxes.FirstOrDefault(x => x.B_SectionId == 37);
                }
                @if (statbox != null)
                {
                    <a href="@statbox.B_Link" class="boxItemHR c2 hoverlight" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Root")@statbox.B_Image);"></a>

                }
                @if (statbox2 != null)
                {
                    <a href="@statbox2.B_Link" class="boxItemHR c2 hoverlight" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Root")@statbox2.B_Image);"></a>
                }
            </div>
        </section>
        <section class="secQA">
            <div class="container">
                <div class="QuickAccessNews">
                    <div class="side">
                        <div class="card">
                            <div class="tabBtns small">
                                <button class="btntab active" data-tab="tab3">پربازدید ترین</button>
                                <button class="btntab" data-tab="tab4">محبوبترین</button>
                            </div>
                            <div class="contentCard">
                                <div class="showTabsContent small">
                                    <div class="tabContent active" data-tab="tab3">
                                        @if (Model != null && Model.Any())
                                        {
                                            foreach (var item in Model.Take(8))
                                            {
                                                <div class="itemNotifyNews">
                                                    <a href="/Blog/Detail/@item.N_Id/@item.N_Title" class="hoverlink"></a>
                                                    <div class="pic" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Notice")@item.N_Image);">
                                                        <img src="@Barayand.Common.Services.UtilesService.MediaUrls("Notice")@item.N_Image" alt="">
                                                    </div>
                                                    <div class="text">
                                                        @item.N_Title
                                                        <a href="#" class="moreSmallNews">مشاهده</a>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                    <div class="tabContent" data-tab="tab4">
                                        @if (Model != null && Model.Any())
                                        {
                                            foreach (var item in Model.Take(8))
                                            {
                                                <div class="itemNotifyNews">
                                                    <a href="/Blog/Detail/@item.N_Id/@item.N_Title" class="hoverlink"></a>
                                                    <div class="pic" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Notice")@item.N_Image);">
                                                        <img src="@Barayand.Common.Services.UtilesService.MediaUrls("Notice")@item.N_Image" alt="">
                                                    </div>
                                                    <div class="text">
                                                        @item.N_Title
                                                        <a href="#" class="moreSmallNews">مشاهده</a>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="card">
                            <h3 class="titleCard">
                                <label>سایر خبرها</label>
                                <a href="#" class="moreSee">مشاهده بیشتر</a>
                            </h3>
                            <div class="contentCard">
                                <div class="QAItemsNews">
                                    @if (Model != null && Model.Any())
                                    {
                                        foreach (var item in Model.Take(4))
                                        {
                                            <div class="QAitemNews">
                                                <div class="pic" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Notice")@item.N_Image);">
                                                    <img src="@Barayand.Common.Services.UtilesService.MediaUrls("Notice")@item.N_Image" alt="">
                                                </div>
                                                <h2 class="title">
                                                    @item.N_Title
                                                    <span class="dateTime fas fa-calendar-alt">@item.Created_At</span>
                                                </h2>
                                                <div class="text">
                                                    @Html.Raw(item.N_Summary)
                                                </div>
                                                <a href="/Blog/Detail/@item.N_Id/@item.N_Title" class="showMoreNews">
                                                    <span>مشاهده</span>
                                                </a>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="adsBox">
            <div class="container">
                @{
                    var statbox3 = StaticBoxes.FirstOrDefault(x => x.B_SectionId == 38);
                    var statbox4 = StaticBoxes.FirstOrDefault(x => x.B_SectionId == 39);
                    var statbox5 = StaticBoxes.FirstOrDefault(x => x.B_SectionId == 40);
                }
                @if (statbox3 != null)
                {
                    <a href="@statbox3.B_Link" class="boxItemHR c3 hoverlight" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Root")@statbox3.B_Image);"></a>
                }
                @if (statbox4 != null)
                {
                    <a href="@statbox4.B_Link" class="boxItemHR c3 hoverlight" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Root")@statbox4.B_Image);"></a>

                }
                @if (statbox5 != null)
                {
                    <a href="@statbox5.B_Link" class="boxItemHR c3 hoverlight" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("Root")@statbox5.B_Image);"></a>

                }
            </div>
        </section>

    </div>
    <footer>
        <div class="AboutFooter">
            <div class="container">
                <h3 class="title">فروشگاه هومکیتو</h3>
                <div class="text">
                    @{
                        var footercontect = AllPages.FirstOrDefault(x => x.PageName == "IndexSeo");
                    }
                    @Html.Raw(footercontect.PageContent)
                </div>
                <div class="LogosCertificate">
                    <div class="LogoCer">
                        <img src="/dist/img/logoSamandehi.png" alt="">
                    </div>
                    <div class="LogoCer">
                        <img src="/dist/img/LogoEnamad.png" alt="">
                    </div>
                    <div class="LogoCer">
                        <img src="/dist/img/LogoSenf.png" alt="">
                    </div>
                </div>
                <div class="socialIcons">
                    @foreach (var s in Data.social)
                    {
                        <a href="@s.Url@s.UserName" target="_blank" class="socicon fab @s.Icon"></a>
                    }
                </div>
            </div>
            <div class="helpDeskFooter">
                <div class="container">
                    <div class="col">
                        <a href="/Pages/@Barayand.Common.Services.UtilesService.ParseSeoData(AllPages.FirstOrDefault(x=>x.PageName == "JobApplication").PageSeo).url" class="linkheldesk icon1">همکاری با ما</a>
                        <a href="/ContactUs" class="linkheldesk icon2">تماس با ما </a>
                        <a href="/Pages/@Barayand.Common.Services.UtilesService.ParseSeoData(AllPages.FirstOrDefault(x=>x.PageName == "TermConditions").PageSeo).url" class="linkheldesk icon3">شرایط استفاده</a>
                        <a href="/Pages/@Barayand.Common.Services.UtilesService.ParseSeoData(AllPages.FirstOrDefault(x=>x.PageName == "PrivacyPolicy").PageSeo).url" class="linkheldesk icon4">حریم خصوصی</a>
                    </div>
                    <div class="col">
                        <a href="/Pages/@Barayand.Common.Services.UtilesService.ParseSeoData(AllPages.FirstOrDefault(x=>x.PageName == "RegistrationGuid").PageSeo).url" class="linkheldesk icon5">راهنمای عضویت</a>
                        <a href="/Pages/@Barayand.Common.Services.UtilesService.ParseSeoData(AllPages.FirstOrDefault(x=>x.PageName == "PhysicalPurchase").PageSeo).url" class="linkheldesk icon6">راهنمای خرید</a>
                        <a href="/Pages/@Barayand.Common.Services.UtilesService.ParseSeoData(AllPages.FirstOrDefault(x=>x.PageName == "ReturnProduct").PageSeo).url" class="linkheldesk icon7">راهنمای مرجوعی</a>
                        <a href="/Faq" class="linkheldesk icon8">سوالات متداول</a>
                    </div>
                </div>
            </div>
            <div class="BrandFooter swiper-container">
                <div class="swiper-wrapper">

                    @foreach (var item in footlogo)
                    {
                        <div class="swiper-slide">
                            <a href="@item.E_Link" class="ItemBrandFooter" style="background-image: url(@Barayand.Common.Services.UtilesService.MediaUrls("BrandImage")@item.E_Image);">
                                <img src="@Barayand.Common.Services.UtilesService.MediaUrls("BrandImage")@item.E_Image" alt="@item.E_Title">
                            </a>
                        </div>
                    }
                </div>
                <!-- Add Arrows -->
                <div class="NextPrevSlider">
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
        <div class="subfooter">
            <span>© 2020 “HomeKito” All Right Reserved</span>
        </div>
    </footer>
    <script src="/dist/js/jquery-3.2.1.min.js"></script>
    <script src="/dist/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/dist/js/hrb_notify.js"></script>
    <script src="/dist/js/fivestar.js"></script>
    <script src="/dist/js/swiper.js"></script>
    <script src="/dist/js/script.js"></script>
</body>
</html>